body{
    font-style: normal;
    font-family: "Merriweather",serif;
    text-align: justify;
    font-weight: 400;
    color: #7c7c7c;
    background-color: #ffffff;
}

h1{
    color: #072227;
    text-align: justify;
}
h2{
    color: #072227;
}

p{
    font-family: "Merriweather",serif;
    text-align: justify;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0em;
    text-transform: none;
    color: rgb(2,2,2);
}
ul{
    font-family: "Merriweather",serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0em;
    text-transform: none;
    color: rgb(2,2,2);
}
table{
    font-family: "Merriweather",serif;
    text-align: center;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0em;
    text-transform: none;
    color: rgb(2,2,2);
}
div{
    /*background-color: #C87941;*/
}